# Theme settings
# remote_theme: mmistakes/minimal-mistakes@4.14.2
minimal_mistakes_skin: "dirt" # "air", "aqua", "contrast", "default", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings: {{ site.blah }}
locale: "en-US"
timezone: "Europe/Madrid"
title: "Alberto's repos"
title_separator: "|"
name: "Alberto Otero de la Roza"
email: "aoterodelaroza@example.com"
description: >-
  This is a collection of software developed and maintained by Alberto Otero de la Roza at
  the university of Oviedo. Most programs and collections are for doing quantum chemistry,
  but you can find other goodies as well.
baseurl: ""
url: "https://aoterodelaroza.github.io"
repository: "aoterodelaroza/aoterodelaroza.github.io"
github_username: "aoterodelaroza"
breadcrumbs: true

# Searches
search: true
search_full_content: true

# Markdown and plugins
markdown: kramdown
highlighter: rouge
excerpt_separator: "\n\n"
plugins:
  - jekyll-remote-theme
  - jekyll-include-cache
  - jemoji
  - jekyll-gist
  - jekyll-sitemap

# Process math
head_scripts:
  - https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML

# Excludes and includes
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - .bundle
  - .gitignore
  - .sass-cache
  - .asset-cache
  - .jekyll-assets-cache
  - LICENSE
  - README.md
include:
  - _critic2/
  - _gibbs2/
  - _refdata/
  - _devnotes/
  - _coursenotes/

collections:
  critic2:
    output: true
  gibbs2:
    output: true
  devnotes:
    output: true
  coursenotes:
    output: true
  refdata:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false
      classes: wide

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

